.txt1 {
    width: 100%;
    display: flex;
    justify-content: center;
    color: #5c5c5c;
    margin-top: 60px;
    margin-bottom: 30px !important;
    font-size: 56px !important;

    @media only screen and (max-width: 720px) {
        color: #333;
        font-size: 32px !important;
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
    }
}

.txt2{
    font-size: 30px !important;
    color: #333;
    line-height: 52px;
    font-family: "Montserrat", sans-serif !important;

    @media only screen and (max-width: 720px) {
        color: #333;
        font-size: 22px !important;
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
    }
}

.txt3 {
    list-style-type: none;
    padding-bottom: 28px;

    font-family: "Open Sans", sans-serif;
    color: #444444;
    font-size: 16px;

    @media only screen and (max-width: 450px) {
        font-size: 14px;
    }
}
