.contact-user-item {
    display: flex;
}

.contact-user-item-picked {
    border: 1px solid red;
}

.contact-user-avatar {
    width: 50px;
    height: 50px;
}

.contact-info-part {
    display: flex;
    flex-direction: column;
}

.contact-avatar-part {
    width: 50px;
    height: 50px;

    & div {
        width: 100%;
        height: 100%;
    }

    & img {
        width: 40px;
        height: 40px;
    }
}
